.button-click {
    --click-sound: "UI.Click";
}

.automation-red-text {
    color: rgb(255, 67, 0);
}

.automation-yellow-text {
    color: rgb(255, 255, 26);
}

.automation-green-text {
    color: rgb(89, 255, 97);
}

.automation-deleted-text {
    color: rgb(255, 67, 0);
    background-color: rgba(255, 48, 0, 0.15);
}

.text-field-error .unity-base-field__input {
    background-color: rgba(255, 0, 0, 0.2);
}

.text-field-modified .unity-base-field__input {
    background-color: rgba(0, 255, 0, 0.05);
}

.text-field-green .unity-base-field__input {
    color: rgb(0, 255, 0);
}

.automation-button-import {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ImportIcon-bare.png");
}

.automation-button-import:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ImportIcon-hover.png");
}

.automation-button-import:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ImportIcon-active.png");
}

.automation-button-export {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ExportIcon-bare.png");
}

.automation-button-export:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ExportIcon-hover.png");
}

.automation-button-export:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ExportIcon-active.png");
}

.automation-button-copy {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/CopyIcon-bare.png");
}

.automation-button-copy:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/CopyIcon-hover.png");
}

.automation-button-copy:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/CopyIcon-active.png");
}

.automation-button-setup {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/SetupIcon-bare.png");
}

.automation-button-setup:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/SetupIcon-hover.png");
}

.automation-button-setup:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/SetupIcon-active.png");
}

.automation-button-clear {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ClearIcon-bare.png");
}

.automation-button-clear:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ClearIcon-hover.png");
}

.automation-button-clear:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/ClearIcon-active.png");
}

.automation-button-undo {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon.png");
}

.automation-button-undo:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon-hover.png");
}

.automation-button-undo:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon-active.png");
}

.automation-button-standby-neutral {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconNeutral.png");
}

.automation-button-standby-neutral:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconNeutral-hover.png");
}

.automation-button-standby-neutral:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconNeutral-active.png");
}

.automation-button-standby-red {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconRed.png");
}

.automation-button-standby-red:hover:enabled {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconRed-hover.png");
}

.automation-button-standby-red:hover:enabled:active {
    background-image: url("project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/StanbyIconRed-active.png");
}
