.automation-deleted-text {
    color: rgb(255, 67, 0);
}

.automation-button-undo {
    background-image: url('project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon.png');
}

.automation-button-undo:hover:enabled {
    background-image: url('project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon-hover.png');
}

.automation-button-undo:hover:enabled:active {
    background-image: url('project://database/Assets/Mods/Automation/AssetBundles/Resources/UI/Images/Buttons/IgorZ.Automation/UndoIcon-active.png');
}

.button-click {
    --click-sound: 'UI.Click';
}
